.body {
  min-height: 100vh;
  width: 100%;
}

.number--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0vh 10vw;
}

.btn--container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.difficulty--container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}