.start--btn {
  font-size: 1vw;
  padding: .3rem .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.reset--btn {
  display: flex;
  font-size: 1vw;
  padding: .3rem .5rem;
  border-radius: .5rem;
  cursor: pointer;
}