div.label {
  font-size: 1vw;
  width: 3vw;
  margin-top: .5rem;
  border: solid .2rem rgb(129, 129, 129);
  border-radius: .5rem;
  -webkit-font-smoothing: antialiased;
  color: rgb(225, 224, 224);
  text-align: center;
  transition: all .5s;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

input[type=checkbox] {
  display: none;
}

input:checked+div {
  border: solid .2rem rgb(31, 160, 29);
  color: rgb(31, 160, 29);
}