.player--container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dice--container {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rollValues {
  display: flex;
  gap: 2rem;
}

.diceResult {
  font-size: 3vw;
  padding: .3rem 1rem;
  border-radius: .5rem;
}