.player--container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dice--container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.dice {
  display: flex;
  gap: 1rem;
}

.dice-title {
  height: min-content;
}

.rollValues {
  display: flex;
  gap: 2rem;
}

.diceResult {
  font-size: 3vw;
  padding: .3rem 1rem;
  border-radius: .5rem;
}

.items--container {
  display: flex;
  gap: 1rem
}