.number--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.number {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  padding: 1.5rem 1.5rem;
  border: .2rem solid white;
}

;